---
layout: base
---
<script type="text/javascript">
	var disqus_url = "{{ page.url | replace_first:'/blog','http://roop.blogspot.com' }}";
    /* var disqus_developer = 1; */
</script>
<div id="chunk">
    <h1>
        {% if page.previous %}
        <a href="{{ page.previous.url }}" title="Previous post">&laquo;</a>
        {% endif %}
        {{ page.title }}
        {% if page.next %}
        <a href="{{ page.next.url }}" title="Next post">&raquo;</a>
        {% endif %}
    </h1>
    <p>
        <span class="date">{{ page.date | date_to_string }}</span> by roop &nbsp;
        <a class="comment-count" href="{{ page.url | replace_first:'/blog','http://roop.blogspot.com' }}#disqus_thread"
            onClick="showAndJumpToComments(); return false;">?!</a>
    <p>
    <div class="stuff">
        <p>
           {{ page.content }}
        </p>
        <p>
            <a href="#" id="comments-show-link" class="show-hide-link"
                onClick="show('comments');return false;">&#9656;<!--right arrow--></a>
            <a href="#" id="comments-hide-link" class="show-hide-link" style="display: none;"
                onClick="hide('comments');return false;">&#9662;<!--down arrow--></a>
            <a class="comment-count" href="{{ page.url | replace_first:'/blog','http://roop.blogspot.com' }}#disqus_thread"
                onClick="showAndJumpToComments(); return false;">?!</a>
            <div id="comments" class="show-hide-able" style="display: none;">
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/knurd-in/embed.js"></script><noscript><a href="http://disqus.com/forums/knurd-in/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </p>

    </div>
</div>

<script type="text/javascript" src="/js/showHide.js"></script>
<script language="javascript" type="text/javascript">
    if (window.location.href.indexOf('#disqus_thread') >= 0) {
        show('comments');
    } else {
        hide('comments');
    }
    function showAndJumpToComments() {
        show('comments');
        var targetlocation = window.location.href;
        if (targetlocation.indexOf("#disqus_thread") < 0) {
            targetlocation = targetlocation + "#disqus_thread";
        }
        window.location = targetlocation;
    }
</script>


