---
layout: base
---
<div id="chunk">
    <h1>
        <a href="{{ page.previous.url }}" title="Previous post">&laquo;</a>
        {{ page.title }}
        <a href="{{ page.next.url }}" title="Next post">&raquo;</a>
    </h1>
    <p>
        <span class="date">{{ page.date | date_to_string }}</span> by roop &nbsp;
        <a class="comment-count" href="{{ page.url }}#disqus_thread"></a>
    <p>
    <div class="stuff">
        <p>
           {{ page.content }}
        </p>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/knurd/embed.js"></script><noscript><a href="http://disqus.com/forums/knurd/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>


